.container {
    background: #f9f5fa;
}
.data {
    align-items: center;
}
.title {
    text-align: center;
    font-size: 24px;
    color: red;
}
.text {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button {
    border-color: transparent;
    background: #f9f5fa;
}
.icon {
    color: gray;
}
.icon :hover {
    border-color: white;
}