<div class="container">
    <div>
        <div class="box">
            <button type="submit">
                <fa-icon class="icon" [icon]="faArrowLeft"></fa-icon>
            </button>
            <img src="../../assets/pessoas.png" style="width: 90%; margin-top: 20px; margin-right: 5px; margin-left: 5px;" />
            <button type="submit">
                <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
        <h3 class="title">{{ title }}</h3>
        <h3 class="text">{{ text }}</h3>
    </div>
</div>