<div class="navbar wraper">
    <h1 class="navbar-brand mb-0">{{ title }}</h1>
    <div class="row" *ngIf="logado === false">
        <div class="dataClass">
            <div class="data">
                <label class="text">Agencia: </label>
                <input class="text-input" style="height: 24px;" maxlength="4" size="1" (input)="atualizaAgencia($event)"
                    [value]="agencia" />
            </div>
            <div class="data">
                <label class="text">Conta: </label>
                <input class="text-input" style="height: 24px;" maxlength="7" size="4" (input)="atualizaConta($event)"
                    [value]="conta" />
            </div>
            <div class="data">
                <label class="text">Senha: </label>
                <input class="text-input" style="height: 24px;" maxlength="16" size="14" type="text"
                    (input)="atualizaSenha($event)" [value]="senha" />
            </div>
        </div>
    </div>

    <div class="buttons" *ngIf="logado === false">
        <button (click)="logar(agencia, conta, senha)" type="submit" class="btn btn-primary">
            Entrar
        </button>
        <button type="submit" class="btn btn-primary" routerLink="/cadastro">
            Cadastrar
        </button>
    </div>

    <div class="buttons" *ngIf="logado === true">
        <button (click)="sair()" type="submit" class="btn btn-primary">
            Sair
        </button>
        <button type="submit" class="btn btn-primary" routerLink="/register">
            Cadastrar
        </button>
    </div>
</div>