<div class="container">
    <div class="row">
        <div class="col-sm">
            <h5>Faça parte do nosso time!! Cadastre-se agora!!!!</h5>
            <div class="form-group" style="width: 50%;">
                <input type="text" class="form-control" placeholder="Nome" />
                <input type="text" class="form-control" placeholder="Endereço" />
                <input type="text" class="form-control" placeholder="Número" />
                <input type="text" class="form-control" placeholder="Bairro" />
                <input type="text" class="form-control" placeholder="Cidade" />
                <input type="text" class="form-control" placeholder="Estado" />
                <input type="text" class="form-control" placeholder="Email" />
                <input type="text" class="form-control" placeholder="Senha" />
                <input type="text" class="form-control" placeholder="Confirme sua senha" /> 
                <button type="submit" class="btn btn-primary container" routerLink="/">
                    Voltar
                </button>
    
                <button type="submit" class="btn btn-primary container" routerLink="/">
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>